name: Build EXE and ZIP

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r requirements.txt pyinstaller

      - name: Build EXE with icon and extra directories
        run: pyinstaller --onefile main.py --name ulp-sorter --icon=icon.ico

      - name: Create folder
        run: |
          mkdir package
          copy dist\ulp-sorter.exe package\
          xcopy /E /I INP package\INP\
          xcopy /E /I OUT package\OUT\
          xcopy /E /I settings.json package\
          xcopy /E /I bad_tlds.txt package\

      - name: Create zip
        shell: pwsh
        run: Compress-Archive -Path "package/*" -DestinationPath "ULP-sorter.zip"

      - name: Upload ZIP to Release
        uses: softprops/action-gh-release@v1
        with:
          files: ULP-sorter.zip